@model List<MicroondasMVC.Models.AquecimentoPadrao>
@{
    ViewData["Title"] = "Resultado da busca";
}

<h2>@ViewData["Title"]</h2>

<a asp-controller="Home"  asp-action="Index" class="btn btn-info">Página Inicial</a>

<div>
    <table class="table">
        <thead>
            <tr class="success">
                <th>
                    <h6 type="text" class="text-info">Nome</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Alimento</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Instruções de Uso</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Tempo</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Potencia</h6>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (AquecimentoPadrao item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instrucoes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tempo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Potencia)
                    </td>
                    <td>
                        <form class="bottom-right" asp-controller="AquecimentoPadrao" asp-action="Aquecer" method="get">
                            <input type="hidden" name="id" value="@item.ID">
                            <button type="submit" class="btn btn-info">Inserir Alimento</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
