@model IEnumerable<MicroondasMVC.Models.AquecimentoPadrao>

@{
    ViewData["Title"] = "ListaAquecimentoPadrao";
}

<h2>ListaAquecimentoPadrao</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrucoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaracterDeAquecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrucoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Potencia)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
