@model List<MicroondasMVC.Models.AquecimentoPadrao>
    ;
@using MicroondasMVC.Models;
@{
    ViewData["Title"] = "Microondas";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Aquecer" asp-controller="Aquecimento" class="btn btn-info">Inserir Alimento para aquecer(Nivel 1)</a>
    <a asp-action="Inserir" asp-controller="AquecimentoPadrao" class="btn btn-info">Inserir Programa de Aquecimento(Nivel 3)</a>
    <a asp-action="InicioRapido" asp-controller="Aquecimento" class="btn btn-info pull-right">Inserir Alimento para Aquecimento Rapido(Nivel 1)</a>
</p>
<nav class="navbar">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" asp-controller="Home" asp-action="Index" method="get" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Pesquisar por Alimento</label>
                    <input type="text" class="form-control" name="alimento" />
                </div>
            </div>
            <button type="submit" class="btn btn-info">Pesquisar(Nivel 2)</button>
        </form>
    </div>
</nav>

<div>
    <h4 type="text" class="text-info">Programas (Nivel 2/3)</h4>
    <table class="table">
        <thead>
            <tr class="success">
                <th>
                    <h6 type="text" class="text-info">Nome</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Alimento</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Instruções de Uso</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Tempo</h6>
                </th>
                <th>
                    <h6 type="text" class="text-info">Potencia</h6>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (AquecimentoPadrao item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instrucoes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tempo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Potencia)
                    </td>
                    <td>
                        <form class="bottom-right" asp-controller="AquecimentoPadrao" asp-action="Aquecer" method="get">
                            <input type="hidden" name="id" value="@item.ID">
                            <button type="submit" class="btn btn-info">Inserir Alimento</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
